openapi: 3.0.0
info:
  title: PartyMap API
  version: 1.0.0
  description: API для просмотра и взаимодействия с мероприятиями и клубами
servers:
  - url: https://api.kstk.space
paths:
  /register:
    post:
      summary: Регистрация пользователя
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
                name:
                  type: string
                city:
                  type: string
                  description: Город должен быть выбран из списка, возвращаемого эндпоинтом /cities
                birthdate:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: Успешная регистрация
          headers:
            Set-Cookie:
              description: 'HttpOnly cookie с refresh token'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Ошибка валидации (например, город не разрешён)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /login:
    post:
      summary: Авторизация пользователя
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  description: Email адрес пользователя
                password:
                  type: string
                  description: Пароль пользователя
      responses:
        '200':
          description: Успешная авторизация
          headers:
            Set-Cookie:
              description: 'HttpOnly cookie с refresh token'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Ошибка валидации или неверные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /logout:
    post:
      summary: Выход из аккаунта
      tags:
        - auth
      description: |
        Требует refresh token в httpOnly cookie. Очищает cookie и деактивирует refresh token в базе.
      responses:
        '200':
          description: Успешный выход
          headers:
            Set-Cookie:
              description: 'Очищает refresh_token cookie'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /token/refresh:
    post:
      summary: Обновление access/refresh токенов
      tags:
        - auth
      description: |
        Требует refresh token в httpOnly cookie. Возвращает новый access token и обновляет refresh token (ротация).
      responses:
        '200':
          description: Новая пара токенов
          headers:
            Set-Cookie:
              description: 'HttpOnly cookie с новым refresh token'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          description: Refresh token невалиден или истёк
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /me:
    get:
      summary: Получить данные текущего пользователя
      tags:
        - user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Данные пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Неавторизован
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    patch:
      summary: Редактировать профиль пользователя
      tags:
        - user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                city:
                  type: string
                  description: Город должен быть выбран из списка, возвращаемого эндпоинтом /cities
                birthdate:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: Профиль обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Ошибка валидации (например, город не разрешён)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /clubs:
    get:
      summary: Получить список клубов
      tags:
        - clubs
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список клубов
          content:
            application/json:
              schema:
                type: object
                properties:
                  clubs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Club'
  /clubs/{id}:
    get:
      summary: Получить информацию о клубе
      tags:
        - clubs
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Информация о клубе
          content:
            application/json:
              schema:
                type: object
                properties:
                  club:
                    $ref: '#/components/schemas/ClubDetails'
  /clubs/{id}/reviews:
    post:
      summary: Добавить отзыв к клубу
      tags:
        - clubs
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating, review]
              properties:
                rating:
                  type: integer
                review:
                  type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /events:
    get:
      summary: Получить список мероприятий
      tags:
        - events
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: type_id
          schema:
            type: integer
        - in: query
          name: date
          schema:
            type: string
        - in: query
          name: lat
          schema:
            type: number
        - in: query
          name: lng
          schema:
            type: number
        - in: query
          name: radius_km
          schema:
            type: number
        - in: query
          name: city
          schema:
            type: string
      responses:
        '200':
          description: Список мероприятий
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
  /events/{id}:
    get:
      summary: Получить информацию о мероприятии
      tags:
        - events
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Информация о мероприятии
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    $ref: '#/components/schemas/EventDetails'
  /events/{id}/attend:
    post:
      summary: Отметиться "я пойду" на мероприятии
      tags:
        - events
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      summary: Снять отметку "я пойду"
      tags:
        - events
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /events/{id}/comments:
    post:
      summary: Добавить комментарий к мероприятию
      tags:
        - events
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comment]
              properties:
                comment:
                  type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /events/attending:
    get:
      summary: Получить мероприятия, на которые записан текущий пользователь
      tags:
        - events
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: type_id
          schema:
            type: integer
        - in: query
          name: date
          schema:
            type: string
        - in: query
          name: city
          schema:
            type: string
      responses:
        '200':
          description: Список мероприятий пользователя
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
        '401':
          description: Неавторизован
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /sessions:
    get:
      summary: Получить список сессий пользователя
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список сессий
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
  /sessions/{id}:
    delete:
      summary: Завершить (отозвать) сессию пользователя
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /refresh-tokens:
    get:
      summary: Получить список refresh токенов пользователя
      tags:
        - auth
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список refresh токенов
          content:
            application/json:
              schema:
                type: object
                properties:
                  refresh_tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        device_id:
                          type: string
                        user_agent:
                          type: string
                        ip_address:
                          type: string
                        created_at:
                          type: string
                        expires_at:
                          type: string
                        is_active:
                          type: boolean
  /refresh-tokens/{id}:
    delete:
      summary: Деактивировать (удалить) refresh токен пользователя
      tags:
        - auth
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: ID refresh токена
      responses:
        '200':
          description: Успешное удаление
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '404':
          description: Токен не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /cities:
    get:
      summary: Получить список доступных городов
      tags:
        - cities
      responses:
        '200':
          description: Список городов
          content:
            application/json:
              schema:
                type: object
                properties:
                  cities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        access_token:
          type: string
          description: JWT access token (15 минут)
        user:
          $ref: '#/components/schemas/User'
    RefreshResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Новый access token (JWT)
    UserResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        city:
          type: string
          nullable: true
        birthdate:
          type: string
          format: date
          nullable: true
        phone:
          type: string
          nullable: true
        role:
          type: string
          enum: [user, organizer, admin]
        social_id:
          type: string
          nullable: true
          description: UUID пользователя
        social_type:
          type: string
          nullable: true
        is_verified:
          type: integer
        created_at:
          type: string
          format: date-time
    Club:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        rating:
          type: number
        created_at:
          type: string
    ClubDetails:
      allOf:
        - $ref: '#/components/schemas/Club'
        - type: object
          properties:
            photos:
              type: array
              items:
                type: string
            reviews:
              type: array
              items:
                $ref: '#/components/schemas/ClubReview'
    ClubReview:
      type: object
      properties:
        id:
          type: integer
        club_id:
          type: integer
        user_id:
          type: integer
        rating:
          type: integer
        review:
          type: string
        created_at:
          type: string
        user_name:
          type: string
    Event:
      type: object
      properties:
        id:
          type: integer
        club_id:
          type: integer
        creator_id:
          type: integer
        title:
          type: string
        description:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        city:
          type: string
        start_time:
          type: string
        end_time:
          type: string
        type_id:
          type: integer
        status:
          type: string
        created_at:
          type: string
    EventDetails:
      allOf:
        - $ref: '#/components/schemas/Event'
        - type: object
          properties:
            type_name:
              type: string
            creator_name:
              type: string
            club_name:
              type: string
            photos:
              type: array
              items:
                type: string
            attendees_count:
              type: integer
            comments:
              type: array
              items:
                $ref: '#/components/schemas/EventComment'
    EventComment:
      type: object
      properties:
        id:
          type: integer
        event_id:
          type: integer
        user_id:
          type: integer
        comment:
          type: string
        created_at:
          type: string
        user_name:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
    Session:
      type: object
      properties:
        id:
          type: integer
        user_agent:
          type: string
        ip_address:
          type: string
        created_at:
          type: string
        last_active:
          type: string
        is_active:
          type: integer
    ValidationError:
      type: object
      properties:
        error:
          type: string
          description: Общее сообщение об ошибке
        errors:
          type: object
          description: Детальные ошибки по полям
          additionalProperties:
            type: string
          example:
            email: "Email обязателен для заполнения"
            password: "Пароль должен содержать минимум 8 символов"
            name: "Имя должно содержать минимум 2 символа"
            city: "Город обязателен для заполнения"
            birthdate: "Введите корректную дату в формате ГГГГ-ММ-ДД"
            phone: "Введите корректный номер телефона"
            auth: "Проверьте правильность email и пароля" 